// Mixins
@import "../materialize/sass/prefixer";
@import "../materialize/sass/mixins";
@import "../materialize/sass/color";

// Variables;
$primary-color: color("blue", "base");
$secondary-color: color("orange", "base");
$input-border-color: #fff;
$dropdown-color: $primary-color;
@import "../materialize/sass/variables";

// Reset
@import "../materialize/sass/normalize";

// components
@import "../materialize/sass/global";
@import "../materialize/sass/icons-material-design";
@import "../materialize/sass/grid";
@import "../materialize/sass/navbar";
@import "../materialize/sass/roboto";
@import "../materialize/sass/typography";
@import "../materialize/sass/cards";
@import "../materialize/sass/toast";
@import "../materialize/sass/tabs";
@import "../materialize/sass/tooltip";
@import "../materialize/sass/buttons";
@import "../materialize/sass/dropdown";
@import "../materialize/sass/waves";
@import "../materialize/sass/modal";
@import "../materialize/sass/collapsible";
@import "../materialize/sass/materialbox";
@import "../materialize/sass/form";
@import "../materialize/sass/table_of_contents";
@import "../materialize/sass/sideNav";
@import "../materialize/sass/preloader";
@import "../materialize/sass/slider";
@import "../materialize/sass/date_picker/default";
@import "../materialize/sass/date_picker/default.date";
@import "../materialize/sass/date_picker/default.time";

// new variables
$translucent-white: rgba(#fff, 0.6);
$translucent-black: rgba(#000, 0.6);
$grey: color("grey", "base");
$white: #fff;
$orange-lighten3: color("orange", "lighten-3");
$blue-lighten3: color("blue", "lighten-3");
$link-hover-color: color("light-blue", "darken-4");

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $grey;
  address {
    font-style: normal;
  }
  .input-field {
    .captcha-prefix {
      @extend .prefix;
      width: 10rem;
    }
    .captcha-prefix ~ input,
    .captcha-prefix ~ textarea {
      margin-left: 10rem;
      width: calc(100% - 10rem);
    }
    .captcha-prefix ~ textarea { padding-top: .8rem; }
    .captcha-prefix ~ label { margin-left: 10rem; }

    @media #{$medium-and-down} {
      .captcha-prefix ~ input {
        width: calc(100% - 10rem);
      }
    }
    @media #{$small-and-down} {
      .captcha-prefix ~ input {
        width: calc(100% - 10rem);
      }
    }
    .prefix ~ .select-wrapper {
      margin-left: 3rem;
      width: calc(100% - 3rem);
    }
    @media #{$medium-and-down} {
      .prefix ~ .select-wrapper {
        width: calc(100% - 3rem);
      }
    }
    @media #{$small-and-down} {
      .prefix ~ .select-wrapper {
        width: calc(100% - 3rem);
      }
    }
  }
  main {
    .parallax-container {
      padding-top: 35px;
      margin-bottom: 20px;
      h1 {
        margin-top: 0;
        span {
          padding: 0 10px;
          color: $secondary-color;
          background-color: $translucent-white;
        }
      }
      p {
        max-height: 9rem;
        padding: 0 10px;
        overflow: hidden;
        background-color: $translucent-black;
      }
      img {
        //border-radius: 20px;
        border: 10px solid $translucent-white;
      }
    }
    .facility-select-form {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      i, .select-wrapper i {
        color: $white;
      }
      .input-field {
        .prefix.active {
          color: $orange-lighten3;
        }
        .valid {
          border-color: $white;
          box-shadow: none;
        }
        input {
          color: $white;
          &:focus {
            border-color: $orange-lighten3;
          }
        }
      }
      .caret {
        color: $white;
      }
      .collapsible {
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        .collapsible-header {
          background-color: transparent;
          border: none;
          padding: 0;
        }
        .collapsible-body {
          border: none;
          label {
            color: $white !important;
          }
        }
      }
      input[type="checkbox"] {
        + label:before {
          border-color: $white;
        }
        &:checked {
          + label:before {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: $primary-color;
            border-bottom-color: $primary-color;
          }
        }
      }
    }
    .main-event, .facility-partner {
      h5 {
        margin-top: 0;
      }
    }
    .info {
      h6 {
        font-size: 120%;
        margin-top: 0;
      }
    }
    .place_type {
      margin-top: 0;
      a:hover {
        color: $link-hover-color;
      }
    }
    .white-form {
      .input-field label {
        color: color("blue", "base");
      }
      input[type='text'],
      textarea {
        border-color: $primary-color;
      }
      .required label {
        color: color("red", "base");
      }
    }
  }
  footer {
    .contact-form {
      .prefix.active {
        color: $blue-lighten3;
      }
      .valid {
        border-color: $white;
        box-shadow: none;
      }
      .input-field {
        input, textarea {
          color: $white;
          &:focus {
            border-color: $blue-lighten3;
          }
        }
      }
      .help-block {
        color: $blue-lighten3;
      }
    }
  }
  .footer-copyright a {
    color: $blue-lighten3;
  }
}