// colors

$main-text: #fff; // main text
$link: #999; // anchor tags
$background: #555; // background color

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;