body {
  .parallax-container {
    height: 200px;
  }
  .partner-facility {
    h3 {
      font-size: 2rem;
      margin: 0;
    }
  }
  .facility {
    h4 {
      font-size: 1.6rem;
      margin: 0;
    }
  }
  .place {
    margin: 0 0 5px;
  }
  .breadcrumb {
    margin-top: 0;
    li {
      display: inline;
    }
  }
}