@import '../materialize/sass/materialize';
@import 'my-variables';

// variables
$translucent-white: rgba(#fff, 0.8);
$translucent-black: rgba(#000, 0.5);

body {
  .parallax-container {
    h1 {
      margin-top: 0;
      span {
        padding: 0 10px;
        background-color: $translucent-white;
      }
    }
    p {
      padding: 0 10px;
      background-color: $translucent-black;
    }
    img {
      border-radius: 10px;
      border: 10px solid $translucent-white;
    }
  }
}